<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shinmusic">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Utils.ApplicationClass"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.PlayNhacActivity" />
        <activity android:name=".Activity.PlayLocalActivity" />
        <activity android:name=".Activity.DanhsachtheloaitheochudeActivity" />
        <activity android:name=".Activity.DanhsachtatcachudeActivity" />
        <activity android:name=".Activity.DanhsachbaihatActivity" />
        <activity android:name=".Activity.DanhsachTatcaAlbumActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.MusicPlayingService"
            android:enabled="true"/>
    </application>

</manifest>